﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="~/Content/demo.css" />
</head>

<body>
    <div id="app">



        <fieldset>
            <legend>
                ETMall 搜尋頁
            </legend>
            <div class="form-group">
                <label>Domain位置:</label>
                <input type="text" v-model="apiUrl" />
            </div>
            <div class="form-group">
                <label>KeyNote:</label>
                <input class="typeahead" type="text" v-model="newSearch.KeyNote" placeholder="Enter Search Key" />
            </div>
            <div class="form-group">
                <label>CategoryStore:</label>
                <input type="text" v-model="newSearch.CategoryStore" />
            </div>

            <div class="form-group">
                <label>一般</label>
                <input type="radio" id="productSource" value="productSource" v-model="newSearch.productSource" />
                <label>E-旅遊</label>
                <input type="radio" id="TravelProduct" value="TravelProduct"  v-model="newSearch.productSource" />
                <label>E-成人</label>
                <input type="radio" id="AdultProduct" value="AdultProduct"  v-model="newSearch.productSource" />
                
            </div>

            <div class="form-group">
                <label>PriceRangeGte:</label>
                <input type="text" v-model="newSearch.PriceRangeGte" />
            </div>
            <div class="form-group">
                <label>PriceRangeLte:</label>
                <input type="text" v-model="newSearch.PriceRangeLte" />
            </div>
            <div class="form-group">
                <label>ONLINE:</label>
                <input type="text" v-model="newSearch.ONLINE" />
            </div>

            <div class="form-group">
                <label>OneDayShip:</label>
                <input type="checkbox" id="OneDayShip" value="OneDayShip" v-model="newSearch.OneDayShip" />
                <label>StoreService:</label>
                <input type="checkbox" id="StoreService" value="StoreService" v-model="newSearch.StoreService" />
                <label>COUPON:</label>
                <input type="checkbox" id="COUPON" value="COUPON" v-model="newSearch.COUPON" />
                <label>DISCOUNT_VALUE:</label>
                <input type="checkbox" id="DISCOUNT_VALUE" value="DISCOUNT_VALUE" v-model="newSearch.DISCOUNT_VALUE" />

            </div>

            <div class="form-group">
                <label>sort:</label>
                <select v-model="newSearch.sort">
                    <option value="_score">最精準</option>
                    <option value="PRC, desc">價格高到低</option>
                    <option value="PRC, asc">價格低到高</option>
                    <option value="HOTVIEW">E-最熱門</option>
                    <option value="HOTSALE">E-最熱銷</option>
                    <option value="OnlineDateTime">最新</option>
                </select>
            </div>
            <div class="form-group">
                <label></label>
                <button @@click="createCustomer">Search</button>
            </div>



        </fieldset>

        <div class="form-group">

            <div class="form-group">
                <label>PageTotalCount:</label>
                <div class="labelInput" type="text">{{ resultData.PageTotalCount }}</div>
                <label>TotalCount:</label>
                <div class="labelInput" type="text">{{ resultData.TotalCount }}</div>
                <label>Spent:</label>
                <div class="labelInput" type="text" style="font:bold">{{ resultData.Spent }}</div>
            </div>

            <div class="form-group">
                <label>ES位置:</label>
                <div class="labelInput" type="text">{{ resultData.ES }}</div>
                <label>本機:</label>
                <div class="labelInput" type="text">{{ resultData.S }}</div>

            </div>

            <ol>
                <li v-for="categoryItem in categoryData"><a href="#" v-bind:categoryid="categoryItem.CategoryID" v-bind:level="newSearch.CategoryLevel" v-on:click="selectCategory(categoryItem.CategoryID)">{{categoryItem.Name}} ( {{categoryItem.Count}} )</a></li>
            </ol>
        </div>

        <table>
            <thead>
                <tr>

                    <th>GOOD_ID</th>
                    <th>GOOD_NM</th>
                    <th>Specifications</th>
                    <th>PRC</th>
                    <th>DISCOUNT_VALUE</th>


                </tr>
            </thead>
            <tbody>
                <tr v-for="resultObjecttest in gridData">

                    <td>{{ resultObjecttest.GOOD_ID }}</td>
                    <td>{{ resultObjecttest.GOOD_NM }}</td>
                    <td>{{ resultObjecttest.Specifications }}</td>
                    <td>{{ resultObjecttest.PRC }}</td>
                    <td>{{ resultObjecttest.DISCOUNT_VALUE }}</td>


                </tr>
            </tbody>
        </table>


    </div>
</body>
</html>

<link rel="stylesheet" href="~/Content/typeahead.css">
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/typeahead.bundle.js"></script>
<script src="~/scripts/vue.js"></script>
<script src="~/scripts/vue-resource.js"></script>
<script src="~/scripts/portal.js"></script>
