* {
	margin: 0;
	padding: 0;
	box-sizing: content-box
}

html {
	font-size: 12px;
	font-family: Ubuntu, sans-serif;
	font-weight: 400
}

body {
	font-size: 1rem
}

table,
td,
th {
	border-collapse: collapse;
	border-spacing: 0
}

table {
	width: 100%
}

td,
th {
	border: 1px solid #bcbcbc;
	padding: 5px 10px
}

th {
	background: #7e74be;
	font-size: 1.2rem;
	font-weight: 400;
	color: #fff;
	cursor: pointer
}

tr:nth-of-type(odd) {
	background: #fff
}

tr:nth-of-type(even) {
	background: #eee
}

fieldset {
	border: 0px solid #BCBCBC;
    border-top: 1px solid #BCBCBC;
    border-bottom: 1px solid #BCBCBC;
	padding: 15px;
    margin-top: 20px;
}

input {
	outline: none;


}

input[type=text] {
	border: 1px solid #ccc;
	padding: .5rem .3rem;
    width:350px;
}

input[type=text]:focus {
	border-color: #42b983;
}



button {
	outline: none;
	padding: 5px 8px;
	color: #fff;
	border: 1px solid #BCBCBC;
	border-radius: 3px;
	background-color: chocolate;
	cursor: pointer;
}
button:hover{
	opacity: 0.8;
}

#app {
	margin: 0 auto;
	max-width: 640px
}

.form-group {
	margin: 10px;
}

.form-group > label {
	display: inline-block;
	width: 10rem;
	text-align: right;
}

.form-group > input,
.form-group > select {
	display: inline-block;
	/*height: 2.5rem;*/
	line-height: 2.5rem;
    margin-bottom: 5px;
} 

.labelInput {
	display: inline-block;
	/*line-height: 2.5rem;*/
    margin-bottom: 1px;
    /*width: 10rem;*/
	text-align: left;
    color:darkslateblue;
} 

.text-center{
	text-align: center;
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 21px 0;
	border-radius: 3px;
}

.pagination > li {
	display: inline;
}

.pagination > li > a {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.5;
	text-decoration: none;
	color: #009a61;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-left: -1px;
	list-style: none;
}

.pagination > li > a:hover {
	background-color: #eee;
}

.pagination .active {
	color: #fff;
	background-color: #009a61;
	border-left: none;
	border-right: none;
}

.pagination .active:hover {
	background: #009a61;
	cursor: default;
}

.pagination > li:first-child > a .p {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

.pagination > li:last-child > a {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}