﻿@model Elastic.Web.Backend.Areas.ETMall.Models.ProductViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @{  Html.RenderPartial("_Header");}
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <!-- /.navbar-header -->
            @{  Html.RenderPartial("_Navbar_Header");}
            <!-- /.navbar-left -->
            @{  Html.RenderPartial("_Navbar_Left_Menu");}
        </nav>
        <!-- Body -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Forms</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Product
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>GOOD_ID</label>                                            
                                            @Html.LabelFor(model => model.GOOD_ID, Model.GOOD_ID, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>GOOD_NM</label>
                                            @Html.TextBoxFor(model => model.GOOD_NM, Model.GOOD_NM, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>PRC</label>
                                            @Html.TextBoxFor(model => model.PRC, Model.PRC, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Coupon</label>
                                            @Html.DropDownList("Coupon")
                                        </div>
                                        <div class="form-group">
                                            <label>DISCOUNT_VALUE</label>
                                            @Html.TextBoxFor(model => model.DISCOUNT_VALUE, Model.DISCOUNT_VALUE.ToString(), new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>OneDayShip</label>
                                            @Html.DropDownList("OneDayShip")
                                        </div>
                                        <div class="form-group">
                                            <label>StoreService</label>
                                            @Html.DropDownList("StoreService")
                                        </div>
                                        <div class="form-group">
                                            <label>Online</label>
                                            @Html.DropDownList("Online")
                                        </div>
                                        <button type="submit" class="btn btn-default">Submit Button</button>
                                        <button type="reset" class="btn btn-default">Reset Button</button>
                                    </form>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    @{  Html.RenderPartial("_Footer");}
</body>
</html>
