﻿    <!-- /#wrapper -->
<!-- jQuery -->
<script src="~/theme/startbootstrap/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/theme/startbootstrap/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/theme/startbootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="~/theme/startbootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="~/theme/startbootstrap/bower_components/raphael/raphael-min.js"></script>
<script src="~/theme/startbootstrap/bower_components/morrisjs/morris.min.js"></script>
<script src="~/theme/startbootstrap/js/morris-data.js"></script>
<!-- Custom Theme JavaScript -->
<script src="~/theme/startbootstrap/dist/js/sb-admin-2.js"></script>